* {
	font-family: "Arial", sans-serif;
}
body {
	margin: 0;
}

header img {
	width: 100px;	
}

header nav {
	background-image: url(../img/home-lnk.png);
	width: 22px;	
	height: 21px;
}

header ul {
	display: none;
}

main, #footer-content {
	width: 100%;
	display: table;
}

nav {
	clear: right;
	float: right;
}

nav li {
	display: inline;
	margin-left: 10px; 
}

aside div {
	background-color: #ddd;
	padding:3px 5px 7px 5px;
	box-sizing: border-box;
	width: 480px;
}
aside label {
	display: none;
	text-transform: uppercase;
}
aside input[type=text] {
	border-radius: 10px;
	border:#999 solid 1px;
	height: 16px;
	width: 200px;
	margin-top: 0;
}

aside button {
	background-color: #ddd;
	border: none;
	padding-top: 5px;
	width: 70px;
	border: 1px #000 solid;
}
aside button span {
	display: visible;
}
aside ul {
	padding-left: 0;
	margin: 0;
}
aside li {
	display: none;	
	list-style: none;
	text-transform: uppercase;
	padding: 5px 3px;
	border-bottom: 1px #aaa solid;
	font-size: 0.7em;
}
aside li:first-child {
	background-color: #ddd;
	padding: 8px 3px;
	display: block;
}
aside li:hover {
	display:block; 
	transition: display 2s;
}

aside li:last-child {
	border-bottom: #ddd solid 6px;
}

aside a {
	text-decoration: none;
	color: #000;
}
section ul {
	padding-left: 0;
}
section li {
	list-style: none;
}
section img {
	width: 480px;
}
footer {
	clear: left;
	background-image: url(../img/fundo-rodape.png);
	width:480px;
	box-sizing: border-box;
	padding-top: 10px;
}

#redes-sociais  {
	float: right;
	padding-left: 3px;
	margin-right: 5px;
	list-style: none;
}
#redes-sociais li {
	width: 50px;
	height: 45px;
	display: inline;
}

#novidades{
	margin-bottom: 5px;
}

.itens {
	float: left;
	width: 480px;
}
.itens h3 {
	padding-left: 15px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
}
.itens figure {
	width: 80px;
	float: left;
	margin: 10px 10px 10px 12px;
	padding-left: 0px; 
}
.itens figcaption {
	font-size: 0.6em;
}
.itens a {
	width: inherit;
}
.itens img {
	width: inherit;
	height: 80px;
}

.itens img:hover {
	transform: translate(30px, 50px) rotate(3600deg) scale(1) skewY(40deg);
	transition: transform  ease-in-out 2s;
}

.fundo-azul {
	background-color: rgb(207, 207, 246);
}
.fundo-rosa {
	background-color: rgb(246, 206, 207);
}
#sacola-compras {
	position: fixed;
	right: 0;
	top: 55px;
	font-size: 0.8em;
	background: url(../img/sacola.png) no-repeat;
	width: 27px;
	height: 36px;
}

#sacola-compras p {
	display: none;
}
#destaques {
	width: 480px;
	height: 220px;
	overflow: hidden;
	margin-bottom: 10px;
	display: inline-flex;
	float: left;
}
#destaques div:hover{
	margin-left: -480px;
	transition: margin-left 5s;
}
#destaques div{
	margin-left: 0px;
	transition: margin-left 5s;
}